---
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <div class="w-container container">
      <div class="intro">
        <h1>South-South and Triangular Cooperation</h1>
        <div>South-South and triangular cooperation (SSC and TrC) has emerged as an integral part of the global development cooperation architecture, helping to achieve development results through a variety of cooperation modalities, including knowledge exchanges, technological transfer, funding and neighbourhood initiatives. UNDP’s Strategic Plan (2014-17) positions SSC and TrC as one of the organization’s core ways of working to achieve its vision.</div>
      </div>
      <div id='app'></div>
    </div>
  
    <div id='templates'>
      {% include templates.html %}
    </div>

    <script type="text/javascript">
      window.countries = {% include data/countries.json %}
      window.indices = {% include data/indices.json %}
    </script>

    {% include footer.html %}
  </body>
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</html>