---
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <div id='admin-app' class='w-container'>{% include static_views/intro.html %}</div>
    <div id='app' class="w-container container">
      <div class="loading">Loading data...</div>
      <div class="spinner"></div>
    </div>
  
    <div id='templates'>
      {% include templates.html %}
    </div>

    <script type="text/javascript">
      window.preloadData = {};
      preloadData.countries = {% include data/countries.json %};
      preloadData.indices = {% include data/indices.json %};
    </script>

    {% include footer.html %}
  </body>
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</html>