<footer class="footer">
  <div class="w-container footer-content">
    <ul class="w-list-unstyled w-clearfix footer-links">
      <li class="footer-link">
        <div>About us</div>
      </li>
      <li class="footer-link">
        <div>Jobs</div>
      </li>
      <li class="footer-link">
        <div>Procurement</div>
      </li>
      <li class="footer-link">
        <div>Legal</div>
      </li>
      <li class="footer-link">
        <div>Transparency</div>
      </li>
      <li class="footer-link">
        <div>Anti-Fraud Hotline</div>
      </li>
      <li class="footer-link">
        <div>Scam Alert</div>
      </li>
      <li class="footer-link">
        <div>Contact Us</div>
      </li>
      <li class="footer-link">
        <div>Get Involved !</div>
      </li>
    </ul>
    <div class="copyright-block">
      <div class="copyright">© Copyright 2015 United Nations Development Programme</div>
    </div>
  </div>
</footer>