{% assign base = site.baseurl %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="shortcut icon" type="image/x-icon" href="images/undp favicon.png">
  <link rel="apple-touch-icon" href="images/undp webclip 2.png">

  <link rel="stylesheet" href="{{ "/css/normalize.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/webflow.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/jquery-jvectormap-2.0.1.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"> -->

  <script src='{{base}}/ext/modernizr.js'></script>
  <!--- <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD47EtV785Bpxt-Ss0PAn5Ef7k4wXVuuu8">
  </script> -->
  <script src='{{base}}/ext/jquery.min.js'></script>
  <script src='{{base}}/ext/underscore.min.js'></script>
  <script src='{{base}}/ext/underscore.string.min.js'></script>
  <script src='{{base}}/ext/underscore.partials.js'></script>
  <script src='{{base}}/ext/backbone.min.js'></script>
  <script src='{{base}}/ext/backbone.facetr.min.js'></script>
  <script src='{{base}}/ext/jquery-jvectormap-2.0.1.min.js'></script>
  <script src='{{base}}/ext/jquery-jvectormap-world-mill-en.js'></script>
  <script src='{{base}}/js/script.js'></script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-33744920-10', 'auto');
    ga('send', 'pageview');
  </script>

  <!-- start Mixpanel -->
  <script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
mixpanel.init("d1a18ae1cf3bc295bd09ea67eb55f653");</script>
<!-- end Mixpanel -->
</head>
