<header class="header">
  <div class="background">
    <div class="w-container container">
      <div class="w-clearfix logo-container"><img class="logo" src="images/logo.png" alt="54dca70c8c8978b11f861ed8_logo.png">
      </div>
      <div class="w-clearfix header-content">
        <ul class="w-list-unstyled header-links">
          <li class="header-link country-selector"><a class="link" href="#">UNDP around the world</a>
          </li>
          <li class="w-hidden-tiny header-link"><a class="link" href="#">About us</a>
          </li>
          <li class="w-hidden-tiny header-link"><a class="link" href="#">Research &amp; Publications</a>
          </li>
          <li class="w-hidden-small w-hidden-tiny header-link"><a class="link" href="#">News Centre</a>
          </li>
        </ul>
        <div class="page-title-section">
          <div class="undp-title">United Nations Development Programme</div>
          <div class="page-title">South-South Cooperation</div>
        </div>
      </div>
    </div>
  </div>
</header>