<script id='projectView' type='text/html'>{% include templates/projectView._ %}</script>
<script id='explorerView' type='text/html'>{% include templates/explorerView._ %}</script>
<script id='searchView' type='text/html'>{% include templates/searchView._ %}</script>
<script id='filterView' type='text/html'>{% include templates/filterView._ %}</script>
<script id='contentView' type='text/html'>{% include templates/contentView._ %}</script>
<script id='statsView' type='text/html'>{% include templates/statsView._ %}</script>
<script id='listView' type='text/html'>{% include templates/listView._ %}</script>
<script id='controlsView' type='text/html'>{% include templates/controlsView._ %}</script>
<script id='partial-filterItem' type='text/html'>{% include templates/partial-filterItem._ %}</script>
<script id='headlinesView' type='text/html'>{% include templates/headlinesView._ %}</script>
<script id='searchedFiltersView' type='text/html'>{% include templates/searchedFiltersView._ %}</script>