.content-tabs.admin {
  height: 100%;
  margin-bottom: 20px;
  .tab-content {
    padding: 10px;
    border: 1px rgb(219, 219, 219) solid;
    height: 100%;
  }
}

.admin-table-explanation {
  margin-bottom: 25px;
}

.admin-table table {
  display: none;
  text-align: left;
}