#explorer {
  // max-height: 500px;
  overflow: scroll;
}


ul.activeFiltersList {
  list-style: none;
  margin-left: 0rem;
  li.activeFilter:before {
    content: 'x';
  }
  li.activeFilter {
    cursor: pointer;
  }
}

#filter {
  .filterName {
    line-height: 1.2em;
    margin-bottom: 0.5em;
  }
}