.hidden {
  display: none;
}

// Avoid grey boxes on iOS touch events
body {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

// ExplorerView
.download {
  a {
  color: grey;
  text-decoration: none;
    &:hover {
      color: #1057A7;
    }
  }
  .download-icon {
    width: 14px;
    float: left;
    margin-right: 5px;
    margin-top: -1px;
  }
}

// SearchView
.search-field-input {
  font-size: 22px;
  font-weight: 700;
  border: 0;
  height: 29px;
  color: #F6BD2B;
  &:focus {
    outline: none;
  }
}

// FilterView
.filters-container {
  height: calc(449px - 50px);
}

img.filters-disclose {
  transform: rotate(270deg);
  &.displayed {
    transform: rotate(0deg);
  }
}

.filters {
  overflow-x: auto;
  overflow-y: auto;
}

.filters[data-search-results='true'] {
  .item-text {
    color: #F6BD2B;
  }
}

.group-items {
  display: none;
}

a.group-item[data-active-filter='true'] {
  opacity: 0.3
}

// ContentView
.tab-menu-link {
  margin-right: -2px; // Avoids tabs being > 33% width
}

.tab-content.map {
  height: 409px;
}

.results-list-item:hover {
  background: rgba(236, 236, 236, 0.43);
}


// 
// ProjectView
// 
.project-details {
  height: 410px;
}
#contentTruncated {
  margin-top: 15px;
}