body {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.tab-menu-link {
  margin-right: -2px; // Avoids tabs being > 33% width
}

.w-tab-content { overflow: scroll; }

a.group-item[data-active-filter='true'] {
  .item-text {
    color: rgb(118, 118, 118);
  }
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
