#app #controls {
  float: left;
  width: 250px;
  border: 1px solid grey;
}

#app #content {
  float: left;
  width: 450px;
  border: 1px solid grey;
}

.result .active {
  background: pink;
}

.contentView {
  // height: 600px;
  // overflow: scroll;
  #list {
  }
  .content_control {
    float: right;
  }
}

#search {
  input[type='text'] {
    font-size: 22px;
    width: 98%;
    box-sizing: border-box;
  }
}