body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}
h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #0c2a4c;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}
h2 {
  margin-bottom: 10px;
  padding-right: 33px;
  color: #0c59bc;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
h4 {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 5px;
}
.header {
  height: 150px;
}
.content {
  padding-right: 0px;
  padding-left: 0px;
}
.logo {
  display: block;
}
.background {
  height: 125px;
  background-image: url('../images/bg-header.png');
}
.explorer-columns {
  height: 450px;
  border-style: none solid solid;
  border-width: 1px;
  border-color: #e8e8e8;
}
.summary {
  margin-top: 0px;
}
.controls {
  height: 100%;
  padding-right: 0px;
  padding-left: 0px;
}
.filters-container {
  padding-right: 10px;
  padding-left: 10px;
}
.search {
  height: 70px;
  padding-top: 13px;
  padding-right: 5px;
  padding-left: 20px;
  border-bottom: 1px solid rgba(23, 104, 149, 0.2);
}
.view-selector {
  display: block;
  margin-right: auto;
  margin-left: auto;
  color: white;
  text-align: center;
  text-indent: 0px;
}
.footer {
  height: 100px;
  background-color: #0a294d;
}
.view-selectors {
  height: 100%;
}
.content-controls {
  display: none;
}
.download {
  margin-top: 10px;
}
.filter-group {
  margin-bottom: 10px;
}
.group-title {
  display: block;
  color: #6b9cc9;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}
.content-section {
  display: none;
}
.download-dropdown {
  height: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
  float: right;
  background-color: #0c59bc;
}
.group-item {
  display: block;
  padding-top: 2px;
  padding-right: 4px;
  padding-bottom: 2px;
}
.item-text {
  width: 87%;
  height: auto;
  float: left;
  color: #333;
}
.item-count {
  width: 13%;
  float: left;
  color: #6b9cc9;
  font-size: 11px;
  text-align: right;
}
.view-selectors-column {
  height: 100%;
}
.copyright {
  position: static;
  left: 0px;
  right: 0px;
  bottom: 0px;
  color: #999;
  font-size: 11px;
}
.footer-links {
  display: inline-block;
  margin-top: 20px;
}
.footer-link {
  width: auto;
  height: 34px;
  margin-right: 20px;
  float: left;
  color: #66c2ff;
  font-size: 11px;
}
.footer-link:hover {
  color: white;
}
.selector-button {
  display: block;
  height: 30px;
  margin-left: 0px;
  padding-top: 5px;
  padding-right: 0px;
  padding-bottom: 5px;
  background-color: #0c59bc;
  text-transform: uppercase;
}
.selector-button.active {
  height: 30px;
  background-color: rgba(12, 89, 188, 0.52);
  color: rgba(255, 255, 255, 0.49);
}
.download-button {
  padding-top: 6px;
  color: white;
}
.download-dropdown-icon {
  color: white;
}
.header-content {
  margin-left: 10px;
  float: left;
  clear: none;
}
.header-links {
  float: left;
}
.header-link {
  width: auto;
  height: 30px;
  min-width: 0px;
  padding-top: 4px;
  padding-right: 20px;
  float: left;
  color: white;
}
.header-link.country-selector {
  width: 190px;
  margin-right: 10px;
  padding-top: 4px;
  padding-left: 53px;
  background-image: url('../images/country-selector.png');
}
.link {
  color: #66c2ff;
  font-size: 11px;
  text-decoration: none;
}
.link:hover {
  color: white;
}
.logo-container {
  float: left;
}
.page-title-section {
  float: none;
  clear: left;
}
.undp-title {
  padding-top: 20px;
  color: white;
  font-size: 13px;
}
.page-title {
  margin-top: 6px;
  color: white;
  font-size: 2em;
  font-weight: 700;
}
.active-filters {
  margin-right: -10px;
  margin-bottom: 0px;
  margin-left: -10px;
  padding-top: 5px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #fffae8;
}
.title {
  width: auto;
  margin-top: 2px;
  float: left;
  color: #176895;
  font-size: 22px;
}
.filters {
  overflow-x: scroll;
  overflow-y: scroll;
  height: 353px;;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
}
.expose {
  width: 50%;
  float: left;
  text-align: right;
}
.control-section-title-block {
  display: block;
  padding: 10px;
  color: white;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
}
.active-filter {
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 2px 5px;
  float: left;
  border-radius: 2px;
  background-color: #f7be00;
  color: #0c59bc;
  font-size: 13px;
  text-decoration: none;
}
.results-view {
  height: 420px;
}
.results-view.map {
  display: block;
  background-color: #79b88c;
}
.results-view.stats {
  background-color: #4ecfcf;
}
.results-view.list {
  background-color: #ff91d9;
}
.filter-state-summary {
  height: 150px;
  margin-right: -10px;
  margin-left: -10px;
  padding: 5px;
  background-color: #0c2a4c;
  color: white;
}
.filter-summary-component {
  margin-right: 5px;
  float: left;
  font-size: 21px;
  line-height: 30px;
}
.filter-summary-component.project-count {
  color: #f7be00;
  font-size: 21px;
  font-weight: 700;
}
.filter-summary-component.primary-filter {
  color: white;
  font-weight: 700;
}
.filter-summary-component.projects-in {
  color: white;
}
.controls-container {
  height: 100%;
  margin-right: 0px;
  border-right: 1px solid #e8e8e8;
}
.content-tabs {
  height: 449px;
}
.tab-content {
  height: 410px;
}
.tab-content.map {
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
}
.tab-content.stats {
  padding: 10px;
}
.tab-menu-link {
  width: 33%;
  height: 40px;
  padding-top: 8px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.61);
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
.tab-menu-link.w--current {
  border-bottom: 4px solid #f76f00;
  background-color: transparent;
  color: white;
}
.results-list {
  padding-left: 0px;
  list-style-type: none;
}
.results-list-item {
  display: block;
  min-height: 40px;
  padding: 8px;
  border-bottom: 1px solid #ebebeb;
  text-decoration: none;
}
.project-title {
  margin-top: 3px;
  color: #1057a7;
  font-size: 15px;
  font-weight: 400;
}
.bar-chart {
  height: 20px;
}
.bar-chart-element {
  width: 33.3%;
  height: 100%;
  float: left;
  background-color: #f0f0f0;
}
.bar-chart-element.element-1 {
  width: 40%;
  background-color: #fce0dd;
}
.bar-chart-element.element-2 {
  width: 15%;
  background-color: #f8a0b5;
}
.bar-chart-element.element-3 {
  width: 45%;
  background-color: #c32489;
}
.bar-chart-element.element-4 {
  width: 75%;
  background-color: #37a257;
}
.bar-chart-element.element-5 {
  width: 10%;
  background-color: #a2d89d;
}
.bar-chart-element.element-6 {
  width: 15%;
  background-color: #e5f5e1;
}
.bar-chart-element.element-7 {
  width: 38%;
  background-color: #b10610;
}
.bar-chart-element.element-8 {
  width: 16%;
  background-color: #e14b3a;
}
.bar-chart-element.element-9 {
  width: 34%;
  background-color: #fa8d5f;
}
.bar-chart-element.element-10 {
  width: 8%;
  background-color: #fccb8e;
}
.bar-chart-element.element-11 {
  width: 4%;
  background-color: #fef0da;
}
.stat-block {
  margin-top: 3px;
  padding: 6px 7px 18px 9px;
}
.tabs-menu {
  background-color: #f7be00;
}
.item-detail {
  width: 95%;
  padding-left: 13px;
  float: left;
  color: #c2c2c2;
}
.stat-headline {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #d4d4d4;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  letter-spacing: -2px;
  text-transform: none;
}
.block-detail-text {
  color: #b3b3b3;
  font-size: 13px;
  text-align: right;
}
.intro {
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.explorer {
  margin-bottom: 20px;
}
.headlines {
  height: 90px;
  background-color: #1057a7;
  color: white;
}
.search-field-text {
  display: inline-block;
  margin-top: 2px;
  float: none;
  color: #176895;
  font-size: 22px;
  font-weight: 700;
}
.search-action-icon {
  float: right;
}
.filters-disclose {
  float: right;
}
.search-container {
  padding-right: 10px;
  padding-left: 10px;
  border-bottom: 1px solid rgba(23, 104, 149, 0.13);
}
.list-detail-icon {
  width: 3%;
  float: left;
  opacity: 0.25;
}
.close {
  margin-left: 10px;
  float: left;
  color: #ff821c;
}
.filter-name {
  float: left;
  color: white;
}
.reset-filters {
  display: block;
  margin-bottom: 5px;
  float: none;
  color: #bababa;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  text-decoration: none;
}
.primary-filter {
  margin-top: 14px;
  font-size: 29px;
  line-height: 35px;
  font-weight: 700;
}
.filter-headlines {
  max-width: 680px;
  padding-left: 20px;
  float: left;
}
.count-headlines {
  float: right;
}
.count-block {
  display: inline-block;
  margin-top: 14px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  border-left: 1px solid #c2c2c2;
}
.count-value {
  font-size: 38px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
}
.count-type {
  color: #6b9cc9;
  font-size: 18px;
  text-align: center;
}
.project-id {
  font-weight: 400;
}
.back {
  background-color: #0c2a4c;
}
.back-link {
  display: inline-block;
  height: 40px;
  padding-top: 8px;
  padding-left: 9px;
  color: #e8e8e8;
  text-decoration: none;
}
.project-show {
  height: 449px;
}
.project-details {
  overflow-x: scroll;
  overflow-y: scroll;
  padding: 10px;
}
.detail-title {
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
  color: #1057a7;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}
.detail-heading {
  display: block;
  margin-right: 8px;
  float: none;
  color: dimgray;
  font-weight: 700;
}
.detail-line {
  margin-bottom: 10px;
}
html.w-mod-js *[data-ix="display-none"] {
  display: none;
}
@media (max-width: 991px) {
  .header {
    background-image: none;
    background-position: 0% 0%;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
  }
  .filters-container {
    overflow-x: scroll;
    overflow-y: scroll;
    height: 412px;
  }
  .search {
    display: block;
  }
  .content-controls {
    height: auto;
  }
  .group-item {
    min-width: 0px;
  }
  .title {
    font-size: 18px;
  }
  .results-view {
    height: 577px;
  }
  .tab-content.map {
    height: 100%;
  }
  .results-list-item {
    width: 100%;
  }
  .project-title {
    margin-top: 0px;
  }
  .item-detail {
    width: 95%;
  }
  .search-field-text {
    font-size: 18px;
  }
  .primary-filter {
    max-width: 504px;
    margin-top: 11px;
  }
}
@media (max-width: 767px) {
  body {
    font-size: 12px;
  }
  .container {
    display: block;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
  }
  .explorer-columns {
    overflow-x: hidden;
    overflow-y: hidden;
    height: auto;
    border-style: none;
    border-width: 0px;
  }
  .filters-container {
    height: auto;
  }
  .footer {
    height: 100%;
    min-height: 100px;
  }
  .content-controls {
    height: auto;
  }
  .item-text {
    width: 80%;
    font-size: 13px;
    line-height: 15px;
  }
  .item-count {
    width: 20%;
    line-height: 15px;
  }
  .footer-link {
    height: 20px;
    margin-right: 21px;
  }
  .footer-content {
    padding-right: 15px;
    padding-left: 15px;
  }
  .results-view {
    height: 284px;
  }
  .filter-state-summary {
    padding-right: 10px;
    padding-left: 10px;
  }
  .content-tabs {
    height: 100%;
  }
  .tab-content {
    overflow-x: scroll;
    overflow-y: scroll;
    height: auto;
  }
  .tab-content.map {
    height: 300px;
  }
  .stat-headline {
    padding-right: 7px;
    padding-left: 10px;
    font-size: 32px;
    line-height: 34px;
    letter-spacing: -2px;
  }
  .filter-headlines {
    overflow-x: hidden;
    overflow-y: hidden;
    max-width: 470px;
  }
  .project-show {
    height: 100%;
  }
}
@media (max-width: 479px) {
  body {
    font-size: 13px;
  }
  h1 {
    margin-top: auto;
  }
  .content {
    padding-right: 0px;
    border-top-color: #dbebff;
  }
  .logo {
    float: left;
  }
  .controls {
    height: auto;
    min-height: 100px;
  }
  .footer {
    height: 100%;
    min-height: 100px;
  }
  .filter-group.theme {
    margin-top: auto;
  }
  .filter-group.role {
    display: block;
  }
  .group-title {
    margin-top: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .group-items {
    display: block;
  }
  .item-count {
    line-height: 13px;
  }
  .copyright {
    display: block;
  }
  .footer-content {
    height: 130px;
  }
  .header-content {
    width: 199px;
    margin-left: 0px;
    float: left;
  }
  .header-link {
    padding-top: 0px;
    padding-right: 0px;
  }
  .page-title-section {
    float: left;
    clear: left;
  }
  .undp-title {
    padding-top: 12px;
    font-size: 10px;
  }
  .page-title {
    font-size: 23px;
    line-height: 26px;
  }
  .expose {
    width: 40%;
    float: left;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    text-align: right;
  }
  .control-section-title-block.results {
    padding-right: 10px;
    padding-left: 10px;
  }
  .results-view {
    height: 310px;
  }
  .filter-summary-component.projects-in {
    font-size: 20px;
  }
  .controls-container {
    margin-right: 0px;
    border-right-style: none;
    border-right-width: 0px;
  }
  .tab-content {
    height: auto;
  }
  .tab-content.map {
    height: 260px;
  }
  .tab-menu-link {
    display: inline-block;
    height: 60px;
    padding-top: 19px;
    font-size: 19px;
    line-height: 21px;
  }
  .tab-menu-link.w--current {
    padding-left: 30px;
  }
  .results-list-item {
    width: 100%;
  }
  .project-title {
    font-size: 14px;
  }
  .stat-headline {
    font-size: 51px;
    line-height: 54px;
  }
  .search-action-icon {
    margin-top: 5px;
  }
  .primary-filter {
    max-width: 194px;
    font-size: 20px;
    line-height: 22px;
  }
  .filter-headlines {
    padding-left: 14px;
  }
}

